<meta charset="UTF-8">
<style>
    style {
        display: none !important;
    }

    ._customer_main {
        max-width: 685px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #000000;
        box-sizing: border-box;
    }

    ._customer_ttl {
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        font-weight: bold;
    }

    ._customer_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px -13px 0;
    }

    ._customer_item {
        width: 300px;
        margin: 0 13px 30px;
    }

    ._customer_item-ttl {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
    }

    ._customer_item-content {
        margin-top: 8px;
    }

    ._customer_item-img img {
        width: 100%;
        height: auto;
    }

    ._customer_item-text {
        margin-top: 10px;
    }

    a._customer_link {
        display: block;
        width: 119px;
        height: 28px;
        line-height: 28px;
        box-sizing: border-box;
        border: 1px solid #0375D5;
        border-radius: 28px;
        text-align: center;
        text-decoration: none;
        color: #000000;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 15px;
    }

    a._customer_link:hover {
        background: #0375D5;
        color: #ffffff;
    }
</style>

<div class="_customer_main">
    <div class="_customer_main-top">
        <div class="_customer_ttl">Наше производство</div>
        <div class="_customer_list">
            <div class="_customer_item">
                <div class="_customer_item-ttl">
                    Вентиляционные изделия
                </div>
                <div class="_customer_item-content">
                    <div class="_customer_item-img">
                        <img src="img/image.png" alt="">
                    </div>
                    <div class="_customer_item-text">
                        Воздуховоды, фасонные изделия, дефлекторы из листов металла толщиной до двух мм.
                    </div>
                    <a class="_customer_link" href="/catalog">Подробнее</a>
                </div>
            </div>
            <div class="_customer_item">
                <div class="_customer_item-ttl">
                    Клапаны
                </div>
                <div class="_customer_item-content">
                    <div class="_customer_item-img">
                        <img src="img/image-2.png" alt="">
                    </div>
                    <div class="_customer_item-text">
                        Противопожарные клапаны и клапаны дымоудаления — барьер для вашей безопасности.
                    </div>
                    <a class="_customer_link" href="/catalog">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="_customer_main-bottom">
        <div class="_customer_ttl">Наши услуги</div>
        <div class="_customer_list">
            <div class="_customer_item">
                <div class="_customer_item-ttl">
                    Комплексные поставки
                </div>
                <div class="_customer_item-content">
                    <div class="_customer_item-img">
                        <img src="img/image-3.png" alt="">
                    </div>
                    <div class="_customer_item-text">
                        Комплектуем нестандартные заявки, стремимся на 100% закрыть потребности клинета.
                    </div>
                    <a class="_customer_link" href="/catalog">Подробнее</a>
                </div>
            </div>
            <div class="_customer_item">
                <div class="_customer_item-ttl">
                    Сервис
                </div>
                <div class="_customer_item-content">
                    <div class="_customer_item-img">
                        <img src="img/image-4.png" alt="">
                    </div>
                    <div class="_customer_item-text">
                        Комплектуем нестандартные заявки, стремимся на 100% закрыть потребности клинета.
                    </div>
                    <a class="_customer_link" href="/catalog">Подробнее</a>
                </div>
            </div>
        </div>
    </div>

</div>