<meta charset="UTF-8">
<style>
    style {
        display: none!important;
    }

    ._customer_goods {
        max-width: 925px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        margin: 0 auto;
        box-sizing: border-box;
    }

    ._customer_goods-ttl {
        display: block !important;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }

    ._customer_goods-list {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    ._customer_goods-item {
        display: block !important;
        background: url("img/check.png") no-repeat 0 3px;
        width: 237px;
        margin-bottom: 10px;
        padding-left: 26px;
        box-sizing: border-box;
    }

    ._customer_goods-item-mod {
        margin-right: 0;
        width: 150px;
    }

    ._customer_goods-item-mod-2 {
        width: 190px;
    }

    ._customer_goods-action {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        font-weight: bold;
        background: #0375D5;
        padding: 20px 0;
        text-align: center;
    }

    ._customer_goods-action div {
        font-size: 18px;
        line-height: 21px;
        font-style: italic;
        font-weight: normal;
        margin-top: 10px;
    }
</style>

<div class="_customer_goods">
    <div class="_customer_goods-ttl">Система вентиляции для любого объекта</div>
    <div class="_customer_goods-list">
        <div class="_customer_goods-item">
            Изготовление деталей по индивидуальным чертежам
        </div>
        <div class="_customer_goods-item _customer_goods-item-mod-2">
            Конструкции любой сложности
        </div>
        <div class="_customer_goods-item">
            Соответствие ГОСТам и СНиПам
        </div>
        <div class="_customer_goods-item _customer_goods-item-mod">
            Доставка по РФ
        </div>
    </div>
    <div class="_customer_goods-action">
        Сделайте крупный заказ и получите скидку!<br>
        <div>Подробности — у менеджеров компании</div>
    </div>
</div>