<meta charset="UTF-8">
<style>
    /* Block advantages */
    style {
        display: none!important;
    }

    .flat-skin-block .header {
        font-size: 24px !important;
        line-height: 28px !important;
        color: #000000 !important;
    }

    ._customer_adv {
        max-width: 685px;
        margin: 30px auto 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        box-sizing: border-box;
    }

    ._customer_adv-list {
        display: flex;
        flex-direction: column;
    }

    ._customer_adv-item {
        display: flex;
        margin-bottom: 30px;
    }

    ._customer_adv-img {
        min-width: 56px;
        text-align: center;
        margin-right: 34px;
    }

    ._customer_adv-ttl {
        font-size: 20px;
        line-height: 23px;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>

<div class="_customer_adv">
    <div class="_customer_adv-list">
        <div class="_customer_adv-item">
            <div class="_customer_adv-img">
                <img src="img/icon-1.png" alt="">
            </div>
            <div class="_customer_adv-content">
                <div class="_customer_adv-ttl">
                    Индивидуальный подход
                </div>
                <div>
                    Мы сами изготавливаем продукцию, поэтому готовы обсудить любые требования к готовому изделию.
                    Производим нестандартные детали по индивидуальным заказам.
                </div>
            </div>
        </div>
        <div class="_customer_adv-item">
            <div class="_customer_adv-img">
                <img src="img/icon-2.png" alt="">
            </div>
            <div class="_customer_adv-content">
                <div class="_customer_adv-ttl">
                    Минимальные сроки
                </div>
                <div>
                    Благодаря своей базе по производству вентиляционной заготовки мы предлагаем минимальные сроки
                    изготовления и оптимальные цены.
                </div>
            </div>
        </div>
        <div class="_customer_adv-item">
            <div class="_customer_adv-img">
                <img src="img/icon-3.png" alt="">
            </div>
            <div class="_customer_adv-content">
                <div class="_customer_adv-ttl">
                    Сертифицированная продукция
                </div>
                <div>
                    Все производимые позиции соответствуют ГОСТам и СНиПам и сопровождаются необходимыми документами.
                </div>
            </div>
        </div>
        <div class="_customer_adv-item">
            <div class="_customer_adv-img">
                <img src="img/icon-4.png" alt="">
            </div>
            <div class="_customer_adv-content">
                <div class="_customer_adv-ttl">
                    Профессиональные консультации
                </div>
                <div>
                    Наши менеджеры подробно расскажут о продукции и её применении, помогут с выбором, произведут расчет.
                </div>
            </div>
        </div>
        <div class="_customer_adv-item">
            <div class="_customer_adv-img">
                <img src="img/icon-5.png" alt="">
            </div>
            <div class="_customer_adv-content">
                <div class="_customer_adv-ttl">
                    Доставка по России
                </div>
                <div>
                    Доставляем товар в любой регион РФ с соблюдением всех норм транспортировки и упаковки.
                </div>
            </div>
        </div>
        <div class="_customer_adv-item">
            <div class="_customer_adv-img">
                <img src="img/icon-6.png" alt="">
            </div>
            <div class="_customer_adv-content">
                <div class="_customer_adv-ttl">
                    Скидки
                </div>
                <div>
                    Мы готовы снизить цену на крупный заказ.
                </div>
            </div>
        </div>
    </div>
</div>