<meta charset="UTF-8">
<style>
    style {
        display: none!important;
    }

    ._customer_category {
        max-width: 627px;
        width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        margin: 0 auto;
        box-sizing: border-box;
    }

    ._customer_category-ttl {
        display: block !important;
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }

    ._customer_block {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ._customer_category-list {
        display: block !important;
        width: 300px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    ._customer_category-item {
        display: block !important;
        margin-bottom: 10px;
        background: url("img/check.png") no-repeat 0 3px;
        padding-left: 30px;
    }

    ._customer_category-action {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        font-weight: bold;
        background: #0375D5;
        padding: 20px 0;
        text-align: center;
    }
</style>

<div class="_customer_category">
    <div class="_customer_category-ttl">Система вентиляции для любого объекта</div>
    <div class="_customer_block">
        <div class="_customer_category-list">
            <div class="_customer_category-item">
                Изготовление деталей по индивидуальным чертежам
            </div>
            <div class="_customer_category-item">
                Соответствие ГОСТам и СНиПам
            </div>
        </div>
        <div class="_customer_category-list">
            <div class="_customer_category-item">
                Доставка по РФ
            </div>
            <div class="_customer_category-item">
                Конструкции любой сложности
            </div>
        </div>
    </div>
    <div class="_customer_category-action">
        Сделайте крупный заказ и получите скидку!
    </div>
</div>